/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  background-image: url(../img/background.jpg);
}

h1{
  font-size: 2.4rem;
}
header{
  display: flex;
  justify-content: center;
}

.navbar{
  display: flex;
  background-color: black;
  justify-content: space-between;
  flex-basis: 75%;
}

.navbar-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.navbar-logo a{
  color: white;
  text-decoration: none;
  align-items: center;
}

.list{
  display: flex;
  list-style: none;
}

.list-items a{
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
}

main div h2{
  text-align: center;
}

.contenedor-main{
  display: flex;
}

.contenido{
  background-color: white;
  display: flex;
  flex-basis: 75%;
  margin: 0 auto;
}

.contenido-principal{
  flex-basis: 75%;
}

.contenido-lateral{
  flex-basis: 25%;
}

img{
  width: 100%;
}

.contenedor-cards{
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0.5rem;
}

/* .contenedor-imagen-main{
  margin-bottom: ;
} */

.contenedor-texto-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.products-images{
  height: 20rem;
  object-fit: cover;
}

.card h3{
  white-space: nowrap;
}

.descripcion{
  width: auto;
  height: 18rem;
  overflow: hidden;
  /* flex: 1; */
  margin-bottom: ;
}

.precio{
  margin-top: auto;
  height: auto;
}

.contenido-lateral{
  margin-left: 2rem;
  margin-right: 2rem;
}


aside h2{
text-align: center;
white-space: nowrap;
}


aside ul{
list-style: none;
}


.aside-images{
  width: 5rem;
  height: 7rem;
  object-fit: cover;
}

.aside-text{
  font-size: rem;
}

aside ul{
  padding: 0;
}

.li-aside{
  display: flex;
  border-bottom: solid .1rem #ddd;
  margin-top: .8rem;
}

.contenedor-texto-aside{
  margin: auto 0;
  margin-left: 0.5rem;
}

.contenedor-contenedor{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.contenedor-blog{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
  height: auto;
  flex-basis: 75%;
  padding-bottom: 1.8rem;
}


.contenedor-blog h2{
  text-align: center;
}


.blog-01{
  background-color: lightcyan;
  display: flex;
  margin: 0 2rem;
  margin-bottom: 1rem;
}


.blog-img-01{
  flex-basis: 20%;
  margin: auto ;
  
}

.blog-content-01{
  flex-basis: 80%;
  padding: 4rem;
}

.blog-02{
  background-color: lightcyan;
  display: flex;
  margin: 0 2rem;
  margin-top: 1rem;
}

.blog-img-02{
  flex-basis: 20%;
  margin: auto ;
}


.blog-content-02{
  flex-basis: 80%;
  padding: 4rem;
}

.about{
  background-color: #fff;
}